

.button {
    overflow: hidden;
    padding: 5px 24px;
    margin-left: 25px;

    border-radius: 3px;
    border: none;

    color: white;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.disabled {
    color: #002e5c;
    background: #004d99;
    opacity: 0.5;
    cursor: not-allowed;
}

.secondary {
    color: #0066cc;
    background: transparent;
    border: 1px solid #0066CC;
    border-radius: 3px;
}
.default {
    background: #06c;
}

.red {
    background: red;
}